.container { position:relative; }
	.container.fullwidth {
		padding-left:0 !important;
		padding-right:0 !important;
		width:100%;	
	}
	
/* -------------------------------------------------------------------------------- /
	[10.3] SLIDER REVOLUTION
/ -------------------------------------------------------------------------------- */

	.rev-slider li {
		background:none;
		padding:0;
		height: 570px !important;
	}
	.fullwidthbanner-container {
		overflow:hidden;
		padding:0;			
		position:relative;
		width:100% !important;		
	}
	.fullwidthabnner {
		position:relative;		
		width:100% !important;
	}
	.fullwidthbanner-container img {
		height:100%;
		max-width:none;
		width:auto;		
	}
	.js-on .fullwidthbanner-container img {
		height:auto;
		width:auto;
	}
	.fullwidthbanner-container .caption { display:none; }
	.js-on .fullwidthbanner-container .caption { display:block; }
	
	.fullwidthabnner > ul { margin:0; }
	.fullwidthabnner > ul > li { display:none; } 
	.fullwidthabnner > ul > li:first-child,
	.js-on .fullwidthabnner > ul > li { display:block; } 
	.tparrows { margin-top:-14px !important; }

	/* slider captions */
	.tp-caption.slider-title-large {
		color:#f2f2f2;	
		font-size:24px;
		line-height:25px;
		margin:0;	
		padding:11px 15px;
		position:relative;
		z-index:0;
	}
	.tp-caption.slider-title-large:before,
	.tp-caption.slider-title:before {
		content:'';			
		background:#313131;	
		height:100%;
		left:0;	
		opacity:0.9;
		position:absolute;
		top:0;
		width:100%;
		z-index:-1;
	}
	.tp-caption.slider-title {
		color:#f2f2f2;	
		font-size:20px;
		line-height:23px;
		margin:0;	
		padding:11px 15px;
		position:relative;
		z-index:0;
	}

